<div id="left-side">
  <h1>Blog, Ruby!</h1>
  <p class="title-dsc">Aprendiendo "Ruby on Rails"</p>  
</div>
<div id="right-side">
  <article>
  <h2>Bienvenido</h2>
    <p>Sean todos bienvenidos al curso de Ruby y Ruby on Rails, <b>NUNCA se repitan</b></p>
  </article>
  <article>
  <h2>Ruby</h2>
  <p>Ruby es un lenguaje de programación desarrollado por Yukihiro Matzumoto (Matz) que está revolucionando la web. La belleza de Ruby se encuentra en su equilibrio entre la simplicidad y el poder.</p>
  </article>
  <article>
    <h2>Ruby on Rails</h2>
    <p>Ruby on Rails es un entorno de desarrollo web de código abierto que está optimizado para la satisfacción de los programadores y para la productividad sostenible. Te permite escribir un buen código evitando que te repitas y favoreciendo la convención antes que la configuración.</p>
    <h3>Filosofia de Rails</h3>
    <ul>
      <li>
        <b>DRY</b>
        <br>
        <br>
        <p>"Don't Repeat Yourself" sugiere que escribir el mismo código una y otra vez es una mala práctica.</p>
      </li>
      <br>
      <li>
        <b>Convención sobre Configuración</b>
        <br>
        <br>
        <p>Rails hace algunas suposiciones sobre lo que quieres hacer y cómo vas a hacerlo</p>
      </li>
    </ul>
  </article>
  <article>
    <h2>¿Para qué se utiliza?</h2>
    <p>Para ayudar a construir aplicaciones modernas de internet como: <b>Twitter, Scribd, Hulu, Xing, Soundcloud, Basecamp, Github…</b></p>
  </article>
</div>